article {
    display: grid;
    gap: 10px;
}

article header {
    display: flex;
    flex-direction: column-reverse;
    gap: 2px;
}

#title-display {
    font-weight: 800;
    font-size: 1.6em;
}

#category-display {
    font-size: 1em;
    font-family: 'Titillium Web';
    color: var(--label-color);
    text-transform: uppercase;
}

section h2 {
    font-weight: 600;
    font-size: 1.1em;
    margin: 10px 0 5px 0;
}

.post-image {
    height: 100px;
}

form {
    max-width: 800px;
    display: grid;
    grid-template-columns: auto 100px;
    align-items: center;
}

form button,
form input {
    height: 35px;
    margin: 0;
}

#comments-container ul {
    padding: 15px 0;

    display: grid;
    gap: 15px;
}
